body{
  background-color: #2a2a2a;
}
 .login-box {
    text-align: center;
    padding: 2rem;
    border: 1px solid #000000;
    border-radius: 2.5rem;
    background-color: rgba(86, 84, 84, 0.715);
    box-shadow: 0 4px 8px rgba(71, 69, 69, 0.1);
  }
  
  .login-box h3 {
    margin-bottom: 1rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgba(250, 250, 250, 0.918);
  }